*{
  outline: none;
}



.jumbotron {
  margin-bottom: 0;

  &__wrapper {
    height: 100vh;
    line-height: 100vh;
    width: 100%;
    vertical-align: middle;
  }

  &__inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 100%;
  }
}

.user-tinder {
  &__link {
    &-wrapper {
      margin: 0 0 20px;
    }
  }

  &__row {
    padding-bottom: 160px;
  }
}

.user-ava {
  margin: 0 0 20px;

  &__img {
    background: #ccc;
    display: inline-block;
    width: 310px;
    max-width: 100%;
  }
}

.btn {
  &__confirm {
    margin-bottom: 20px;
  }
}

.user-params {
  text-align: left;

  &__h3 {
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px;
  }

  &__item {
    margin: 0 0 15px;
    font-size: 1.5em;
  }

  &__ok-ico {
    font-size: 0.7em;
  }
}

.btn-fixed {
  position: fixed;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  padding: 25px 10px;
  background: #eee;
  border-top: 1px solid #ddd;
}

@media (min-width: 768px) {
  .btn-fixed {
    position: static;
    display: block;
    margin: 0 auto;
    padding: 0;
    background: none;
    border-top: none;
  }

  .user-tinder__row {
    padding-bottom: 0;
  }
}