*{
  outline: none;
}

.jumbotron {
  margin-bottom: 0;

  &__wrapper {
    height: 100vh;
    line-height: 100vh;
    width: 100%;
    vertical-align: middle;
  }

  &__inner {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 100%;
  }
}

.user-tinder {
  &__link {
    &-wrapper {
      margin: 0 0 20px;
    }
  }
}

.user-ava {
  margin: 0 0 20px;

  &__img {
    background: #ccc;
    display: inline-block;
    width: 310px;
    max-width: 100%;
  }
}

.btn {
  &__confirm {
    margin-bottom: 20px;
  }
}

.user-params {
  text-align: left;

  &__h3 {
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0 0 30px;
  }

  &__item {
    margin: 0 0 15px;
    font-size: 1.5em;
  }

  &__ok-ico {
    font-size: 0.7em;
  }
}